.adminParent{
    display: flex;
    width: 100%;
}

.navParent{
    margin-left: 10px;
    /* width: 260px; */
    height: 100vh;
    display: flex;
    align-items: center;
    /* position: fixed; */
}

.contentParent{
    padding-left: 16px;
    width: 100%;
}
