.mnTpBr_Parent{
    padding-top: 12px;
    padding-bottom: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    /* background-color: red; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mnTpBr_rightPrt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DateTest{
    margin-top: -6px;
    margin-left: 10px; 
}
.BtnNewTick{
    margin-top: 2px;
}
.titlePgStyle{
    /* font-weight: 600; */
    font-family: poppinsBold;
    opacity: .8;
    font-size: 22px;
}
.mnTpBr_rightPrt .More{
    margin-left: 10px;
}