/* Content */
.content{
    width: 100%;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.content .leftPart{
    width: 45%;
    height: calc(100vh - 90px - 10px);
    /* background-color: red; */
}
.content .rightPart{ 
    width: 54%;
    height: calc(100vh - 90px - 10px);
    /* background-color: green; */
}
.leftPart .topPart{
    width: 100%;
    /* height: 300px; */
    /* padding: 7px; */
    /* background-color: red; */
}
.topPart .partOne{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* min-width: 550px; */
    /* justify-content: space-around; */
}
.topPart .partOne:not(:first-child){
    margin-top: 10px;
}
.partOne .titlePart{
    opacity: .8;
    margin-top: 2px;
    margin-left: 7px;
    font-size: var(--litleTitle);
}

.leftPart .bottomPart{
    margin-top: 50px;
    height: calc(100% - 300px);
    width: 95%;
}