/* Content */
.content{
    width: 100%;
    height: 100px;
    padding-right: 16px;
    display: flex;
}
.content .leftPart{
    width: 50%;
    height: calc(100vh - 90px);
    /* background-color: red; */
}
.content .rightPart{ 
    width: 45%;
    height: calc(100vh - 90px);
    /* background-color: green; */
}
.leftPart .topPart{
    width: 100%;
    height: 300px;
    /* padding: 7px; */
    /* background-color: red; */
}
.topPart .partOne{
    display: flex;
    /* justify-content: space-around; */
}
.topPart .partOne:not(:first-child){
    margin-top: 15px;
}
.partOne .titlePart{
    opacity: .8;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
}